@import "https://uploads-ssl.webflow.com/59021baa67862b1bd85a14c4/css/coventryvillage.webflow.6413116a4.css";

@font-face {
  font-family: paralucent;
  src: url(https://use.typekit.net/af/e5ca7e/00000000000000003b9b40a4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/e5ca7e/00000000000000003b9b40a4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/e5ca7e/00000000000000003b9b40a4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent;
  src: url(https://use.typekit.net/af/ad1a9e/00000000000000003b9b40a3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ad1a9e/00000000000000003b9b40a3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ad1a9e/00000000000000003b9b40a3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: paralucent;
  src: url(https://use.typekit.net/af/63a0de/00000000000000003b9b40b0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/63a0de/00000000000000003b9b40b0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/63a0de/00000000000000003b9b40b0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent;
  src: url(https://use.typekit.net/af/fe099e/00000000000000003b9b40a5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/fe099e/00000000000000003b9b40a5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("woff"),
    url(https://use.typekit.net/af/fe099e/00000000000000003b9b40a5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent;
  src: url(https://use.typekit.net/af/09b327/00000000000000003b9b40ab/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/09b327/00000000000000003b9b40ab/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/09b327/00000000000000003b9b40ab/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: paralucent;
  src: url(https://use.typekit.net/af/8ad6f2/00000000000000003b9b40aa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/8ad6f2/00000000000000003b9b40aa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/8ad6f2/00000000000000003b9b40aa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent-text;
  src: url(https://use.typekit.net/af/d60d2a/00000000000000003b9b40bf/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/d60d2a/00000000000000003b9b40bf/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/d60d2a/00000000000000003b9b40bf/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent-text;
  src: url(https://use.typekit.net/af/a61744/00000000000000003b9b40c0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/a61744/00000000000000003b9b40c0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/a61744/00000000000000003b9b40c0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: paralucent-text;
  src: url(https://use.typekit.net/af/ed908c/00000000000000003b9b40c1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ed908c/00000000000000003b9b40c1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ed908c/00000000000000003b9b40c1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: paralucent-text;
  src: url(https://use.typekit.net/af/3054cb/00000000000000003b9b40c2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/3054cb/00000000000000003b9b40c2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/3054cb/00000000000000003b9b40c2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent-condensed;
  src: url(https://use.typekit.net/af/a6e82b/00000000000000003b9b40b2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/a6e82b/00000000000000003b9b40b2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/a6e82b/00000000000000003b9b40b2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: paralucent-condensed;
  src: url(https://use.typekit.net/af/e60bc4/00000000000000003b9b40bc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/e60bc4/00000000000000003b9b40bc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/e60bc4/00000000000000003b9b40bc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent-condensed;
  src: url(https://use.typekit.net/af/de310a/00000000000000003b9b40ba/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/de310a/00000000000000003b9b40ba/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/de310a/00000000000000003b9b40ba/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: paralucent-condensed;
  src: url(https://use.typekit.net/af/49488d/00000000000000003b9b40b4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/49488d/00000000000000003b9b40b4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/49488d/00000000000000003b9b40b4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: paralucent, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
